:root {
  background-color: #ecf5ff;
  font-size: 62.5%;
}
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}
h1 {
  font-size: 5.4rem;
  margin-bottom: 2rem;
}
.container {
  width: 100vw;
  height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
}
.container > * {
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.text-align {
  text-align: center;
}
form {
  border: 1px solid green;
  padding: 1rem;
  margin-bottom: 2rem;
}
form > * {
  margin: 1rem;
}
input {
  width: 20rem;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 255, 0, 0.3);
}
input::placeholder {
  color: #aaa;
}
.btn {
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  text-align: center;
  color: green;
  background-color: white;
  border: 0.1rem solid green;
  width: 20rem;
  padding: 1rem;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 255, 0, 0.5);
  transform: translateX(0.2rem) translateY(-0.2rem);
  transition: transform 0.2s;
}
.btn[disabled]:hover {
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

/* STYLING RESULTS */
#resultDiv > p {
  font-size: 2rem;
}
