:root {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 238, 238);
}
.container {
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  margin: 0;
  color: #333;
  letter-spacing: 0.2rem;
}
.main {
  width: 100%;
  height: calc(100% - 8rem);
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
}
.timeline-container {
  width: 5rem;
  /* min-height: 100%; */
  background-color: cyan;
}
.result-container {
  width: calc(100% - 5rem);
}
.result-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.result-item {
  padding: 0.5rem 0;
  width: 25rem;
  height: max-content;
  border-radius: 1rem;
  overflow: hidden;
  /* background-color: green;
  color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 1.6rem;
  text-align: center;
  margin: 0;
}
.duration {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.body {
  margin-top: 0.5rem;
  text-align: center;
}
.body span:not(.hidden) {
  font-size: 1.2rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
}
.time-taken {
}
.thread-info {
}
.show {
  position: relative;
}
.hidden {
  display: none;
  width: 6rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgb(216, 213, 213);
  color: red;
  z-index: 10;
}
.show:hover .hidden {
  display: block;
}
/* .result-item:nth-child(2) {
  background-color: red;
}
.result-item:nth-child(3) {
  background-color: rgb(130, 247, 255);
  color: rgb(0, 0, 0);
} */

/*
  1.
    background-color: rgb(250, 250, 86);
  color: rgb(46, 9, 255);

  2. 
    background-color: green;
  color: white;

  3.
  background-color: red;
  color: white;

  4. 
    background-color: rgb(128, 248, 104);
  color: rgb(2, 5, 201);

  5.
  
  background-color: rgb(217, 91, 255);
  color: rgb(0, 0, 0);
  
  6.
    background-color: rgb(130, 247, 255);
  color: rgb(0, 0, 0);

*/
