body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
#canvas {
  background-color: #c2c2c2;
}
#rock {
  display: none;
}
